.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body button{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

.body button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 1s;
}

.body button:hover{
    color: black;
}

.body button a{
    text-decoration: none;
}